<!DOCTYPE html>
<html lang="en">

<head>
  <!-- views/partials/head.ejs -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Paste Clone</title>

  <!-- CSS Stuff (Bootstrap/FontAwesome/CodeHighlightTheme/Styles) -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/base16/classic-dark.min.css" 
  integrity="sha512-/i5PxfiKXQXfC0IbVgeHpFvVJbCJVXwJ+m4lqagqLPyi0t5yGfVGA9vLAfXnOIar6GmvlxCv22piAaEJOjyNnw==" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/styles.css">
</head>

<body class="container"></body>

<header>
  <!-- views/partials/header.ejs -->
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #252525;">
    <a class="navbar-brand" href="#"><i class="fa fa-file-text-o" aria-hidden="true"></i> Paste Clone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/status">Status</a>
        <a class="nav-item nav-link" href="/pastes">Pastes</a>
        <a class="nav-item nav-link" href="/resource">Resource</a>
      </div>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <% if (status.isAuthenticated()) { %>
          <!-- If user is authenticated display his pastes -->
          <a class="nav-item nav-link" > Welcome, <%= status.user.displayName %>,
            <a class="nav-item nav-link" href="/logout">Logout</a>
          </a> 
        
          <% } else { %>
            <a class="nav-item nav-link" href="/login">Login</a>
        <% } %>
      </ul>
  </div>
  </nav>
  <!-- views/partials/header.ejs -->
</header>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js" 
  integrity="sha512-yUUc0qWm2rhM7X0EFe82LNnv2moqArj5nro/w1bi05A09hRVeIZbN6jlMoyu0+4I/Bu4Ck/85JQIU82T82M28w==" 
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<body>